*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url("/IMG/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* 
#page{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer";
  }

.Titulo{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
}
.Titulo h1{
    background-color: rgba(0, 0, 0, 0.4); 
    color: beige;
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
    font-size: 50px;
} */

/* .Info{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* #presskit{
    right: 312px;
    top: 440px;
    width: 288px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;


}
.boton{
    position: absolute;
    height: 71px;
    display: inline-block;
    width: 164px;
    background: url(http://x10interactive.com/static/somanyme/presskit-button.png);

    
}
.ImgInsta{
    display: inline-block;
    width: 220px;
    height: 220px;
    position: absolute;
    margin-right: 20px;
    margin-bottom: 80px;
    background-image: url(/IMG/logoinsta.png);
} */


